<h1>
  Product List
  <%= link_to '新增商品', new_product_path %>
</h1>
<%#  %>
<table>
  <thead>
    <tr>
      <th scope='col'>Brand</th>
      <th scope='col'>Article no.</th>
      <th scope='col'>Type</th>
      <th scope='col'>Execution</th>
      <th scope='col'>Sensor technology</th>
      <th scope='col'>Dimension</th>
      <th scope='col'>Voltage</th>
      <th scope='col'>2 Channel</th>
      <th scope='col'>Incandescent lamp load(Max.)</th>
      <th scope='col'>Fluorescent lamp load</th>
      <th scope='col'>LED lamp load(Max.)</th>
      <th scope='col'>Load</th>
      <th scope='col'>Power consumption</th>
      <th scope='col'>Stand by power consumption</th>
      <th scope='col'>Detection angle</th>
      <th scope='col'>Detection range(towards)</th>
      <th scope='col'>Detection range(across)</th>
      <th scope='col'>Detection range(seated)</th>
      <th scope='col'>Recommended mounting height</th>
      <th scope='col'>Max. mounting height</th>
      <th scope='col'>Min. mounting height</th>
      <th scope='col'>IP</th>
      <th scope='col'>Class</th>
      <th scope='col'>Lowest ambient temperature</th>
      <th scope='col'>Highest ambient temperature</th>
      <th scope='col'>Min. delay time</th>
      <th scope='col'>Max. delay time</th>
      <th scope='col'>Lowest Lux</th>
      <th scope='col'>Highest Lux</th>
      <th scope='col'>Lux learning</th>
      <th scope='col'>Mounting type</th>
      <th scope='col'>Application</th>
      <th scope='col'>Slave</th>
      <th scope='col'>Mixed light measurement</th>
      <th scope='col'>Dimmable(Constant light)</th>
      <th scope='col'>Stand-by light</th>
      <th scope='col'>Push-button connectable</th>
      <th scope='col'>Orientation light</th>
      <th scope='col'>Bluetooth</th>
      <th scope='col'>Description</th>
    </tr>
  </thead>
  <tbody>
    <% unless @products.nil?%>
      <% @products.each do |product| %>
        <tr>
          <td><%= is_other_option?(product, 'brand') %></td>
          <td><%= product.article_no %></td>
          <td><%= array_gateway_type(product) %></td>
          <td><%= is_other_option?(product, 'execution') %></td>
          <td><%= array_sensor_tech(product) %></td>
          <td><%= product.dimension %></td>
          <td><%= array_voltage(product) %></td>
          <td><%= is_other_option?(product, 'two_channel') %></td>
          <td><%= is_other_option?(product, 'incandescent_lamp_load_max') %></td>
          <td><%= is_other_option?(product, 'fluorescent_lamp_load') %></td>
          <td><%= is_other_option?(product, 'led_lamp_load_max') %></td>
          <td><%= product.load_text %></td>
          <td><%= is_other_option?(product, 'power_consumption')%></td>
          <td><%= is_other_option?(product, 'stand_by_power_consumption')%></td>
          <td><%= is_other_option?(product, 'detection_angle')%></td>
          <td><%= is_other_option?(product, 'detection_range_towards')%></td>
          <td><%= is_other_option?(product, 'detection_range_across')%></td>
          <td><%= is_other_option?(product, 'detection_range_seated')%></td>
          <td><%= is_other_option?(product, 'recommended_mounting_height')%></td>
          <td><%= is_other_option?(product, 'max_mounting_height')%></td>
          <td><%= is_other_option?(product, 'min_mounting_height')%></td>
          <td><%= is_other_option?(product, 'ip')%></td>
          <td><%= is_other_option?(product, 'ip_class')%></td>
          <td><%= is_other_option?(product, 'lowest_ambient_temperature')%></td>
          <td><%= is_other_option?(product, 'highest_ambient_temperature')%></td>
          <td><%= is_other_option?(product, 'min_delay_time')%></td>
          <td><%= is_other_option?(product, 'max_delay_time')%></td>
          <td><%= is_other_option?(product, 'lowest_lux')%></td>
          <td><%= is_other_option?(product, 'highest_lux')%></td>
          <td><%= product.lux_learning %></td>
          <td><%= array_mounting_type(product) %></td>
          <td><%= array_application(product) %></td>
          <td><%= is_other_option?(product, 'slave')%></td>
          <td><%= is_other_option?(product, 'mixed_light_measurement')%></td>
          <td><%= is_other_option?(product, 'dimmable_constant_light')%></td>
          <td><%= is_other_option?(product, 'stand_by_light')%></td>
          <td><%= is_other_option?(product, 'push_button_connectable')%></td>
          <td><%= is_other_option?(product, 'orientation_light')%></td>
          <td><%= array_bluetooth(product) %></td>
          <td><%= truncate("#{product.description}", length: 20) %></td>
          <td><%= link_to '查看商品', product_path(product) %></td>
          <td><%= link_to '編輯商品', edit_product_path(product) %></td>
          <td><%= link_to '刪除商品', product_path(product), method: :delete, data: { confirm: '確定要刪除？' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
