<h1>
  Product List
  <%= link_to '新增商品', new_product_path %>
</h1>
<%#  %>
<table>
  <thead>
    <tr>
      <th scope='col'><%= t("product.brand.title")%></th>
      <th scope='col'><%= t("product.article_no.title")%></th>
      <th scope='col'><%= t("product.gateway.title")%></th>
      <th scope='col'><%= t("product.execution.title")%></th>
      <th scope='col'><%= t("product.sensor_tech.title")%></th>
      <th scope='col'><%= t("product.dimension.title")%></th>
      <th scope='col'><%= t("product.voltage.title")%></th>
      <th scope='col'><%= t("product.two_channel.title")%></th>
      <th scope='col'><%= t("product.incandescent_lamp_load_max.title")%></th>
      <th scope='col'><%= t("product.fluorescent_lamp_load.title")%></th>
      <th scope='col'><%= t("product.led_lamp_load_max.title")%></th>
      <th scope='col'><%= t("product.load.title")%></th>
      <th scope='col'><%= t("product.power_consumption.title")%></th>
      <th scope='col'><%= t("product.stand_by_power_consumption.title")%></th>
      <th scope='col'><%= t("product.detection_angle.title")%></th>
      <th scope='col'><%= t("product.detection_range_towards.title")%></th>
      <th scope='col'><%= t("product.detection_range_across.title")%></th>
      <th scope='col'><%= t("product.detection_range_seated.title")%></th>
      <th scope='col'><%= t("product.recommended_mounting_height.title")%></th>
      <th scope='col'><%= t("product.max_mounting_height.title")%></th>
      <th scope='col'><%= t("product.min_mounting_height.title")%></th>
      <th scope='col'><%= t("product.ip.title")%></th>
      <th scope='col'><%= t("product.ip_class.title")%></th>
      <th scope='col'><%= t("product.lowest_ambient_temperature.title")%></th>
      <th scope='col'><%= t("product.highest_ambient_temperature.title")%></th>
      <th scope='col'><%= t("product.min_delay_time.title")%></th>
      <th scope='col'><%= t("product.max_delay_time.title")%></th>
      <th scope='col'><%= t("product.lowest_lux.title")%></th>
      <th scope='col'><%= t("product.highest_lux.title")%></th>
      <th scope='col'><%= t("product.lux_learning.title")%></th>
      <th scope='col'><%= t("product.mounting_type.title")%></th>
      <th scope='col'><%= t("product.application.title")%></th>
      <th scope='col'><%= t("product.slave.title")%></th>
      <th scope='col'><%= t("product.mixed_light_measurement.title")%></th>
      <th scope='col'><%= t("product.dimmable_constant_light.title")%></th>
      <th scope='col'><%= t("product.stand_by_light.title")%></th>
      <th scope='col'><%= t("product.push_button_connectable.title")%></th>
      <th scope='col'><%= t("product.orientation_light.title")%></th>
      <th scope='col'><%= t("product.bluetooth.title")%></th>
      <th scope='col'><%= t("product.description.title")%></th>
    </tr>
  </thead>
  <tbody>
    <% unless @products.nil?%>
      <% @products.each do |product| %>
        <tr>
          <td><%= is_other_option?(product, 'brand') %></td>
          <td><%= product.article_no %></td>
          <td><%= array_gateway_type(product) %></td>
          <td><%= is_other_option?(product, 'execution') %></td>
          <td><%= array_sensor_tech(product) %></td>
          <td><%= product.dimension %></td>
          <td><%= array_voltage(product) %></td>
          <td><%= is_other_option?(product, 'two_channel') %></td>
          <td><%= is_other_option?(product, 'incandescent_lamp_load_max') %></td>
          <td><%= is_other_option?(product, 'fluorescent_lamp_load') %></td>
          <td><%= is_other_option?(product, 'led_lamp_load_max') %></td>
          <td><%= product.load_text %></td>
          <td><%= is_other_option?(product, 'power_consumption')%></td>
          <td><%= is_other_option?(product, 'stand_by_power_consumption')%></td>
          <td><%= is_other_option?(product, 'detection_angle')%></td>
          <td><%= is_other_option?(product, 'detection_range_towards')%></td>
          <td><%= is_other_option?(product, 'detection_range_across')%></td>
          <td><%= is_other_option?(product, 'detection_range_seated')%></td>
          <td><%= is_other_option?(product, 'recommended_mounting_height')%></td>
          <td><%= is_other_option?(product, 'max_mounting_height')%></td>
          <td><%= is_other_option?(product, 'min_mounting_height')%></td>
          <td><%= is_other_option?(product, 'ip')%></td>
          <td><%= is_other_option?(product, 'ip_class')%></td>
          <td><%= is_other_option?(product, 'lowest_ambient_temperature')%></td>
          <td><%= is_other_option?(product, 'highest_ambient_temperature')%></td>
          <td><%= is_other_option?(product, 'min_delay_time')%></td>
          <td><%= is_other_option?(product, 'max_delay_time')%></td>
          <td><%= is_other_option?(product, 'lowest_lux')%></td>
          <td><%= is_other_option?(product, 'highest_lux')%></td>
          <td><%= product.lux_learning %></td>
          <td><%= array_mounting_type(product) %></td>
          <td><%= array_application(product) %></td>
          <td><%= is_other_option?(product, 'slave')%></td>
          <td><%= is_other_option?(product, 'mixed_light_measurement')%></td>
          <td><%= is_other_option?(product, 'dimmable_constant_light')%></td>
          <td><%= is_other_option?(product, 'stand_by_light')%></td>
          <td><%= is_other_option?(product, 'push_button_connectable')%></td>
          <td><%= is_other_option?(product, 'orientation_light')%></td>
          <td><%= array_bluetooth(product) %></td>
          <td><%= truncate("#{product.description}", length: 20) %></td>
          <td><%= link_to '查看商品', product_path(product) %></td>
          <td><%= link_to '編輯商品', edit_product_path(product) %></td>
          <td><%= link_to '刪除商品', product_path(product), method: :delete, data: { confirm: '確定要刪除？' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
